<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.podsstore">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/podmainicon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/podmainicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PodsStore"
        android:usesCleartextTraffic="true">
        <activity android:name=".banner.SellerBannerproductActivity"></activity>
        <activity android:name=".drower.SellerRevertActivity" />
        <activity android:name=".drower.ShowMakeofferdetailsActivity" />
        <activity android:name=".drower.PrivacyActivity" />
        <activity android:name=".drower.TermsActivity" />
        <activity android:name=".drower.ShowMakeofferActivity" />
        <activity android:name=".getorder.OrderDetailsActivity" />
        <activity android:name=".topbrands.TopBrandsProductActivity" />
        <activity android:name=".buynow.BuyNowActivity" />
        <activity android:name=".category.SubCategoryProductActivity" />
        <activity android:name=".category.SubCategoryActivity" />
        <activity android:name=".drower.ChooseCountryActivity" />
        <activity android:name=".getorder.MyOrderActivity" />
        <activity android:name=".drower.HelpAndFAQActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".wishlist.WishListActivity" />
        <activity android:name=".drower.AddressesActivity" />
        <activity android:name=".drower.HelpActivity" />
        <activity android:name=".drower.DrowerActivity" />
        <activity android:name=".addtocart.PaymentActivity" />
        <activity android:name=".addtocart.SelectAddressActivity" />
        <activity android:name=".addtocart.AddToCartActivity" />
        <activity android:name=".profile.AddressActivity" />
        <activity android:name=".aboutpod.ConnectwithPodActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".aboutpod.AboutActivity" />
        <activity android:name=".category.CategoryActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".productdetails.ProductDetailsActivity" />
        <activity android:name=".product.ProductListActivity" />
        <activity android:name=".login.CreateAccountActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Firebase Notifications -->
        <!-- <service android:name="MyFirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service android:name="MyFirebaseInstanceIDService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service
            android:name=".BioFuelFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>